/* Find out why there's 2 style sheets*/

html {
  padding-left: 11em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.body_background
{
	background:  #000046 ;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.font_set
{
	font-size: 3mm;


}
.h4_titles
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:white;
	font-size: 10mm;
}
h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:white;
	font-size: 20mm;
}

.reference_font{
	font-family: 'Times New Roman', Times, serif;
}
.h2_center{
	width: 100%;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:white;
	font-size: 10mm;
}
.Table_size{
	width: 100px;
	height: 100px;
}
.column-text{
	text-align: left;
	font-family: Source Sans Pro, sans-serif, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
	font-size: 10mm;
}
.column-underline{
	text-decoration: underline;
	font-size: 50px;
}
.list-text
{
	font-size: 30px;
	color: black;
}
.column-background{

		border-radius: 25px;
		background: #ffff;
		padding: 20px; 
		width: 100%;
		height: 400px; 
		margin-top: 5mm;
		margin-bottom: 5mm; 
	  

}
.column-background2{

	border-bottom-left-radius: 0%;

	background: blue;
	padding: 20px; 
	width: 20px;
	height: 300px;  
  

}

#team_table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 92%;
	font-size: 5mm;
  }
  
  #team_table td, #team_table th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #team_table tr:nth-child(even){background-color: #f2f2f2;}
  
  #team_table tr:hover {background-color: #ddd;}
  
  #team_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color:#24243e;
	color: white;
  }

.image_temp{
	height: 350px;
	width: 200px;
	background-color: #0000;
	border-radius: 25px;
	display: inline-block;

}


.P1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color: white;

}

.image_width{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 50%;
}


.h1_title { 
margin-left: auto;
  margin-right: auto;
  font-family: Source Sans Pro, sans-serif, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
  text-align: center;
  color: white;
  font-size: 50px;
  text-align: left;
}


.navbar {
	overflow: hidden;
	background-color: #333;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; 
}			
/*
	detailling for the navbar

*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
  }
 
 
  nav{
	height: 70px;
	background: #063247;
	box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav .logo{
	color: white;
	font-size: 33px;
	font-weight: bold;
	line-height: 70px;
	padding-left: 110px;
  }
  nav ul{
	float: right;
	margin-right: 30px;
  }
  nav ul li{
	display: inline-block;
  }
  nav ul li a{
	color: white;
	display: block;
	padding: 0 15px;
	line-height: 70px;
	font-size: 17px;
	background: #063247;
	transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
	color: #23dbdb;
  }
  nav ul ul{
	position: absolute;
	top: 85px;
	border-top: 3px solid #23dbdb;
	opacity: 0;
	visibility: hidden;
  }
  nav ul li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: .3s linear;
  }
  nav ul ul li{
	width: 150px;
	display: list-item;
	position: relative;
	border: 1px solid #042331;
	border-top: none;
  }
  nav ul ul li a{
	line-height: 40px;
  }
  nav ul ul ul{
	border-top: none;
  }
  nav ul ul ul li{
	position: relative;
	top: -70px;
	left: 150px;
  }
  nav ul ul li a i{
	margin-left: 45px;
  }
  section{
	background: url(bg.jpeg);
	background-position: center;
	background-size: cover;
	height: 100vh;
  }